# Виртуальное окружение
.venv/

# Игнорировать реальный .env (с секретами)
core/*.env

# Питоновские кэш-файлы
__pycache__/
*.py[cod]

# Файлы сборки
core/build
core/*.egg-info

# Данные и артефакты (из storage/)
core/storage/data/*
!core/storage/data/.gitkeep
core/storage/plots/*
!core/storage/plots/.gitkeep

# Логи
core/storage/logs/*
!core/storage/logs/.gitkeep